<div class="view">
    <input class="toggle" type="checkbox" <%= model.get('completed') ? "checked" : "" %> >
    <label><%= model.get('title') %></label>
    <input class="edit" value="<%= model.get('title') %>">
    <button class="destroy">remove</button>
</div>
